*{
    margin: 0;
    padding: 0;

}
html, body {
    width: 150%;
    height: 150%;
    font-size: 15px;
    font-weight: normal;
    overflow-x: hidden;
}
.backgroundImage{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    overflow-x: hidden;
}
.nav a{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    text-decoration: none;
    font-family: Cambria;
    font-weight: bold;
    font-style: oblique;
    display: inline;
    background-color: lightcyan; 
    color: black;
    text-align: left;
    overflow-x: hidden;

}
ul{
    overflow-x: hidden;
    background-color: lightcyan;
}
li{
    text-align: left;
    display: block;

}li a{
    float: left;
}

a.active, .nav a:hover{
    background-color: white;
    opacity: inherit;
    height: 60px;
}
.button1{
    height: 50px;
}
.button2{
    height: 50px;
}
.button3{
    height:50px;
}
div.imagedisplay{
    padding-left: 40px;
    padding-right: 30px;
    margin: 5px; 
    float: left ;
    position: center;
}   
div.imagedisplay img{
    width: 320px;
    height: 320px;
    padding-top: 30px;
}
.center {
    margin: auto;
    width: 130em;
}
.contactlinks{
    margin: auto;
    width: 120em;
}
