*{
    margin: 0;
    padding: 0;

}
html, body {
    width: 150%;
    height: 150%;
    font-size: 15px;
    font-weight: normal;
    overflow-x: hidden;
}
.backgroundImage{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
ul{
    overflow-x: hidden;
    background-color: lightcyan;
    padding-top: 40px;

}
li{
    text-align: center;
    display: block;

}li a{
    float: left;
}

.nav a{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    text-decoration: none;
    font-family: Cambria;
    font-weight: bold;
    font-style: oblique;
    display: inline;
    background-color: lightcyan; 
    color: black;
    text-align: center;

}
a.active, .nav a:hover{
    background-color: white;
    opacity: inherit;
    height: 60px;
}
.button1{
    height: 50px;
}
.button2{
    height: 50px;
}
.button3{
    height:50px;
}
div.imagedisplay{
    padding-left: 20px;
    margin: 5px; 
    float: left ;
    position: center;
}   
div.imagedisplay img{
    width: 357px;
    height: 470px;
}
img center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.center {
    margin: auto;
    width: 120em;
  }
.nextButton a{
    background-color: grey;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family: Cambria;
    font-weight: bold;
    font-style: oblique;
    display: inline;
    color: black;
    text-align: center;
}
.nextButton a:hover{
    background-color: white;
    opacity: inherit;
    height: 30px;
}


